:root {
  font-size: 16px;
  --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --serif: "Source Serif Pro", Iowan Old Style, Apple Garamond,
    Palatino Linotype, Times New Roman, "Droid Serif", Times, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --mono: Consolas, monospace;
  --font-big: 1.25rem;
  --font-label: 0.813rem;
  --font-small: 0.75rem;
  --font-para: 0.935rem;
}

html {
  font-family: var(--sans);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-variant-ligatures: normal;
  font-feature-settings: "liga" on, "calt" on;
}

html,
body {
  background: white;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background: #f1f1f1;
}

.ml-8 {
  margin-left: 8px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.pl-4 {
  padding-left: 4px !important;
}
